USE [master]
GO
/****** Object:  Database [TpFinalBricenoAndrea]    Script Date: 11/23/2021 1:33:52 PM ******/
CREATE DATABASE [TpFinalBricenoAndrea]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LigaPokemones', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LigaPokemones.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LigaPokemones_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LigaPokemones_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TpFinalBricenoAndrea].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TpFinalBricenoAndrea]
GO
/****** Object:  Table [dbo].[Entrenador]    Script Date: 11/23/2021 1:33:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrenador](
	[Dni] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[CantidadDePokebolas] [int] NOT NULL,
	[Campeon] [bit] NOT NULL,
	[Isla] [int] NOT NULL,
	[IdPokemon] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntrenadorPokemon]    Script Date: 11/23/2021 1:33:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntrenadorPokemon](
	[Dni] [int] NULL,
	[IdPokemon] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pokemon]    Script Date: 11/23/2021 1:33:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemon](
	[IdPokemon] [int] NOT NULL,
	[Especie] [varchar](50) NOT NULL,
	[Hp] [int] NOT NULL,
	[Tipo] [int] NOT NULL,
	[Ataque] [int] NOT NULL,
	[Defensa] [int] NOT NULL,
	[Velocidad] [int] NOT NULL,
	[NombreDeAtaque] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Entrenador] ([Dni], [Nombre], [Apellido], [Edad], [CantidadDePokebolas], [Campeon], [Isla], [IdPokemon]) VALUES (26874159, N'Arlina', N'Pirulo', 25, 5, 0, 0, 173)
INSERT [dbo].[Entrenador] ([Dni], [Nombre], [Apellido], [Edad], [CantidadDePokebolas], [Campeon], [Isla], [IdPokemon]) VALUES (26874159, N'Arlina', N'Pirulo', 25, 5, 0, 0, 174)
INSERT [dbo].[Entrenador] ([Dni], [Nombre], [Apellido], [Edad], [CantidadDePokebolas], [Campeon], [Isla], [IdPokemon]) VALUES (26874159, N'Arlina', N'Pirulo', 25, 5, 0, 0, 236)
GO
INSERT [dbo].[EntrenadorPokemon] ([Dni], [IdPokemon]) VALUES (26874159, 172)
INSERT [dbo].[EntrenadorPokemon] ([Dni], [IdPokemon]) VALUES (26874159, 173)
INSERT [dbo].[EntrenadorPokemon] ([Dni], [IdPokemon]) VALUES (26874159, 174)
GO
INSERT [dbo].[Pokemon] ([IdPokemon], [Especie], [Hp], [Tipo], [Ataque], [Defensa], [Velocidad], [NombreDeAtaque]) VALUES (172, N'Pichu', 20, 0, 40, 15, 60, N'Flame Wheel')
INSERT [dbo].[Pokemon] ([IdPokemon], [Especie], [Hp], [Tipo], [Ataque], [Defensa], [Velocidad], [NombreDeAtaque]) VALUES (173, N'Cleffa', 50, 1, 25, 28, 15, N'Snore')
INSERT [dbo].[Pokemon] ([IdPokemon], [Especie], [Hp], [Tipo], [Ataque], [Defensa], [Velocidad], [NombreDeAtaque]) VALUES (174, N'Igglybuff', 90, 2, 30, 15, 15, N'Curse')
GO
USE [master]
GO
